@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  /* Use an image to be background and covers all empty space */
  background-image: url('./images/bar.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.root{
    padding-bottom: 60px;
}

.container {
  max-width: 750px;
  margin: 50px auto;
  overflow: auto;
  min-height: 100px;
  padding: 30px;
  border-radius: 5px;
  color: rgba(7, 208, 253, 0.733);
  
}

.ad {
  background: #fffffffa;
  margin: 10px;
  padding: 10px 20px;
  border-radius: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  color: rgba(7, 208, 253, 0.733);
}

.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 100%;
}

.drink {
  background: #fffffffa;
  margin: 10px;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 10px;
}

.drink h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Keep footer at bottom of page at all times */
.footer {
  background-color: #b3b3ffce;
  height:24px; 
  width: 100%; 
  background-image: none;
  background-repeat: repeat;
  background-attachment: scroll;
  background-position: 0% 0%;
  position: fixed;
  bottom: 0pt;
  left: 0pt;
  text-align: center;
}


